<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302721577493-pbv1tio2iq91f9vvr9tbluk0ke5e2c9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302721577493-pbv1tio2iq91f9vvr9tbluk0ke5e2c9c</string>
	<key>API_KEY</key>
	<string>AIzaSyD9bkriZzCn8Z1qYNCbTIMjRlq4J43IJkg</string>
	<key>GCM_SENDER_ID</key>
	<string>302721577493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practice.Coffee</string>
	<key>PROJECT_ID</key>
	<string>coffeeapp-5f125</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeeapp-5f125.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302721577493:ios:9c0f5c4a3e0beac961d41c</string>
</dict>
</plist>